*{
    margin: 0px;  
}
body{
    display: flex;
    flex-direction:column;
    height: 100vh;
}

/* header */

.header{
 display: flex;
 justify-content:space-between;
 padding: 20px 30px;
 align-items: center;
}
.header a{
   margin-left: 20px;
   color: rgba(0,0,0,0.87);
   font-size: 15px;
   text-decoration: inherit;
}
.header a:hover{
    text-decoration: underline;
}
.header-right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}
.header-right.header-apps{
  margin-right: 10px;
}
.MainBody{
    display: flex;
    margin-left: 40%;
    margin-top: 0px;
    
}
.search_input{
    display: flex;
    align-items: center;
    border-radius: 999px;
    border: 1px solid lightgray;
    padding: 10px 20px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
    padding: 11px;
  
}
.search_input input{
    flex: 1;
    padding: 11px 0px 0px;
    border: none;
    outline: none;
    font-size: 2
    0px;
    font-family: Arial, sans-serif;
    line-height: 22px;
    border-bottom: 8px solid transparent;
    padding-top: 11px;
    overflow-x: hidden;
    top: 2px;
    outline: none;
    border: none;
    font-size: 14px;

}

.buttons{
    margin-left:40%;
    margin-top: 20px;
    justify-content: space-between;
}
.buttons button{
    margin: 11px 4px;
    padding: 0px 16px;
    font-size: 14px;
}
.offered{
    margin-left: 29.9%;
    line-height: 28px;
    padding-top: 18px;
}
.offered a{
    justify-content: space-between;
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding: 3px;

}
.search span{
    padding: 0px 13px 0px 14px;
}
.search_input img{
    padding: 0px 8px;
    width: 24px;
    height: 24px;
}
.search_input img:hover{
    cursor: pointer;  
}
.header-right span{
    height: 40px;
    width: 40px;
    padding: 4px;
}
.header-right #Gmails{
    width: 33.95px;
    height: 24px;
    margin-bottom: 10px;
    font-size: 14px;
}
.header-right #images{
    width: 42.64px;
    height: 24px;
    margin-bottom: 10px;
    font-size: 14px;
}
.header-right{
    padding: 0px 0px 0px 15px;
}
 .header_left #Apps{
    width: 46.59px;
    height: 26px;
    font-size: 14px ;
    font-family: Arial, sans-serif;
    margin: 0px 5px 0px 15px;
    padding: 5px;
}
.header_left #store{
    width: 43.47px;
    height: 26px;
    margin: 0px 5px;
    padding: 5px;
}
.header_left{
    margin-bottom: 24px;
}
.search #search{
    padding: 0px 13px 0px 14px;
}
.search input{
    padding: 0px 13px 0px 14px;
    margin-top: 
}
.offered a{
    text-decoration: none;
}
.google_laps{
    width: 40px;
    height: 40px;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #6f6f6f;
}
.footer-location{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}
.footer-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.left-menu a,
.right-menu a {
    text-decoration: none;
    color: #6f6f6f;
    padding: 0px 20px 0px 0px;
}